{{ 'product-card.css' | asset_url | stylesheet_tag }}
{{ 'cart.js' | asset_url | script_tag }}

<div class="product-card">
  <img src="{{ product.featured_image | image_url }}" alt="product" class="product-image">
  <h2 class="product-title">{{- product.title }}</h2>
  <p class="product-price">{{ product.price | money }}</p>
  <a href="/cart" class="add-to-cart">
    <button id="add-to-cart" data-product-id="{{  product.variants[0].id }}" data-quantity="1">Add to Cart</button>
  </a>
</div>
